In [ ]:
import pandas as pd

In [ ]:
dfSalaries = pd.read_csv("Salaries.csv")
dfSalaries.head()

In [12]:
dfSalaries.describe

<bound method NDFrame.describe of          rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]>

In [ ]:
# grouping by rank (attribute)
dfRank=dfSalaries.groupby(['rank', 'sex']).mean(numeric_only=True)
dfRank.round(2)

             phd  service     salary
rank
AssocProf  15.08    11.31   91786.23
AsstProf    5.05     2.21   81362.79
Prof       27.07    21.41  123624.80