In [38]:
import seaborn as sb
import pandas as pd
from sklearn import preprocessing as pp

In [39]:
data=sb.load_dataset('tips')
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

Transformando 'day' e 'time' em novas features

In [40]:
days_times = pd.get_dummies(data[['day','time']], drop_first=True, dtype=int)
data = data.drop(['day','time'], axis=1)
data = pd.concat([data, days_times], axis=1)
data.head()

,total_bill,tip,sex,smoker,size,day_Fri,day_Sat,day_Sun,time_Dinner
0,16.99,1.01,Female,No,2,0,0,1,1
1,10.34,1.66,Male,No,3,0,0,1,1
2,21.01,3.50,Male,No,3,0,0,1,1
3,23.68,3.31,Male,No,2,0,0,1,1
4,24.59,3.61,Female,No,4,0,0,1,1

Codificando valores qualitativos 'sex' e 'smoker'

In [ ]:
labels = ["sex", "smoker"]
le = pp.LabelEncoder()

for label in labels:

    le.fit(data[label])
    data[label] = le.transform(data[label])

data.head()

   total_bill   tip  sex  smoker  size  day_Fri  day_Sat  day_Sun  time_Dinner
0       16.99  1.01    0       0     2        0        0        1            1
1       10.34  1.66    1       0     3        0        0        1            1
2       21.01  3.50    1       0     3        0        0        1            1
3       23.68  3.31    1       0     2        0        0        1            1
4       24.59  3.61    0       0     4        0        0        1            1

### Discretizando valores de 'tip'
Os valores serão discretizados conforme os quantis 35% e 70%

In [58]:
qt = data["tip"].quantile([0.35, 0.70])

print(f"Para os quantis {qt.array[0]} e {qt.array[1]}")

FinalData = data.copy()
FinalData["tip"] = FinalData["tip"].apply(lambda x: "small" if x < qt.array[0] else "average" if x < qt.array[1] else "high")
FinalData.head()

Para os quantis 2.181 e 3.48

,total_bill,tip,sex,smoker,size,day_Fri,day_Sat,day_Sun,time_Dinner
0,16.99,small,0,0,2,0,0,1,1
1,10.34,small,1,0,3,0,0,1,1
2,21.01,high,1,0,3,0,0,1,1
3,23.68,average,1,0,2,0,0,1,1
4,24.59,high,0,0,4,0,0,1,1

In [52]:
FinalData.to_csv("Final_Data_atv1.csv", index=False)